*.pdb
*.suo
*.pyc
*.pyo
*.iws
obj/
class/
Debug/
venv/
.idea/
.settings
.pydevproject
.ropeproject
.DS_Store
config.codekit
cielo24_.NET/CommandLineTool/bin/Release/CommandLine.xml
cielo24_.NET/CommandLineTool/bin/Release/CommandLineTool.exe
cielo24_.NET/CommandLineTool/bin/Release/CommandLine.dll
cielo24_.NET/CommandLineTool/bin/Release/Cielo24Merged.dll
NLog.*
Newtonsoft.Json.*
cielo24_.NET/UnitTest/bin/
cielo24_Java/cielo24/bin/production/
cielo24_Java/cielo24/bin/test/
cielo24_Java/cielo24cli/bin/production/
*.class
cielo24_PHP/vendor/
composer.lock